@{
}

@model Book

<h3>@Model.Title, by @Model.Author</h3>

<ul>
    <li>Publisher: @Model.Publisher</li>
    <li>ISBN: @Model.Isbn</li>
    <li>Classification: @Model.Classification</li>
    <li>Category: @Model.Category</li>
    <li>Page Count: @Model.PageCount</li>
    <li>Price: $@Model.Price</li>
</ul>

<br />